allow fsck block_device:dir { read write getattr open ioctl };
allow fsck ndcache_block_device:blk_file { read write getattr open ioctl };
allow fsck nddata_block_device:blk_file { read write getattr open ioctl };